@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.ss-dayEvents-container {
    width: 300px;
    min-width: 300px;
    background: white;
    padding: 20px 20px 10px 20px;
    margin: 0 0px 20px 20px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.ss-dayEvants-add-button {
    width: 100%;
}

.ss-dayEvents-addMenu {
    width: 500px;
    zIndex: 1000;
    border-radius: 20px;
    margin-top: 100px;
}

.ss-dayEvents-input-container {
    display: flex;
    margin-left: 28px;
    align-items: center;
    margin-bottom: 8px;
}

.ss-dayEvents-input-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #202224;
}

.ss-dayEvents-input-text {
   font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: #202224;
    width: 60px;
}

.ss-dayEvents-input-field {
    flex-grow: 1;
    margin-left: 20px;
    height: 40px;
    border-radius: 16px !important;
    background: #efefef !important;
}

.ss-dayEvents-input-buttons {
    display: flex;
    justify-content: center;
    border-top: 0.4px solid #97979761;
    padding-top: 32px;
    margin-top: 24px;
}

.ss-dayEvents-input-first-button{
    margin-right: 40px !important;
}

.ss-dayEvents-event-container {
    border-top: 0.6px solid #E0E0E0;
    border-bottom: 0.6px solid #E0E0E0;
    display: flex;
    align-items: center;
    padding: 10px 0px;

}

.ss-dayEvents-event-circle {
    width: 40px;
    height: 40px;
    background: #e3e3e3;
    border-radius: 20px;
    margin-right: 20px;
}

.ss-dayEvents-event-title {
        font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #202224;
    margin: 0;
}

.ss-dayEvents-event-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    color: #202224;
    margin: 0;
    opacity: 0.6;
}
}